* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scrollbar-color: #f48982 #e0e0e0;
  scrollbar-width: thin;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #ccc;
  background-size: cover;
  background-repeat: no-repeat;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f5f3;
}

.logo-img {
  width: 13rem;
  height: 10rem;
  margin-left: 4rem;
}

.search {
  background-color: #fff;
  border-radius: 10rem;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  transition: all 0.3s;
  margin: 1rem 8rem 1rem 0;
}

.search__btn {
  height: 6rem;
  width: 18rem;
  font-weight: 600;
  font-family: inherit;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  background-image: linear-gradient(to bottom right, #fbdb89, #f48982);
  border: none;
  border-radius: 10rem;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  display: flex;
}

.search::placeholder {
  color: #ccc;
}

.search:focus-within {
  transform: translateY(-2px);
  box-shadow: 0 0.7rem 3rem rgba(#ccc, 0.08);
}

.search__field {
  outline: none;
  border: none;
  background: none;
  font-family: inherit;
  color: #121212;
  font-size: 1.7rem;
  width: 30rem;
}

.search__field:focus {
  outline: none;
}

.search__icon {
  width: 2rem;
  height: 2rem;
  fill: #fff;
  margin-right: 2rem;
}

.recipe {
  margin: 3rem 3rem 2rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe_cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.recipe_card {
  width: 27rem;
  height: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(251, 219, 137, 0.577);
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
  margin: 0 2rem 4rem 2rem;
}

.recipe_img {
  width: 100%;
  height: 20rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  opacity: 0.7;
}

.likes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipe_name {
  font-size: 2rem;
  font-weight: 400;
  color: #615551;
  line-height: 1;
  width: 90%;
}

.recipe_icon {
  width: 2rem;
  height: 2rem;
  fill: #f48982;
}

.links {
  display: flex;
  flex-direction: column;
}

.recipe_link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem auto;
  width: 20rem;
  text-decoration: none;
  font-size: 1.8rem;
  color: #fff;
  background-image: linear-gradient(to bottom right, #fbdb89, #f48982);
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
}

.recipe_comment {
  border: none;
  padding: 0.5rem 0 0.5rem 0;
}

.recipe_direction {
  width: 2rem;
  height: 2rem;
  fill: #fff;
  margin-left: 1rem;
}

.spinner {
  margin: 5rem auto;
  text-align: center;
}

.spinner svg {
  height: 15rem;
  width: 15rem;
  fill: #f48982;
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.error {
  margin: 5rem auto;
  text-align: center;
}

.error svg {
  fill: rgba(255, 0, 0, 0.579);
}

.error p {
  color: #121212;
  font-size: 2rem;
}

.likes_num {
  line-height: 1;
  font-size: 1.3rem;
  color: #121212;
  text-align: center;
}


.popup {
  position: fixed;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 15rem auto;
  width: 75%;
  background-color: #f9f5f3cb;
  backdrop-filter: blur(3px);
  z-index: 100;
  padding: 2rem;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
  height: 90vh;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.popup_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popup_center img {
  width: 50%;
  height: 40%;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

.popup_name {
  color: #121212;
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 1rem;
}

.popup_publisher {
  display: flex;
  justify-content: space-between;
  width: 60%;
  font-size: 1.5rem;
  color: #121212;
  margin-top: 1rem;
}

.comments_dates {
  color: #121212;
  font-size: 1.5rem;
  text-align: center;
}

.comment_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comment_input {
  outline: none;
  border: none;
  background: #fff;
  font-family: inherit;
  color: #121212;
  font-size: 1.7rem;
  width: 30rem;
  padding: 1.5rem;
  margin-bottom: 2rem;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  background-blend-mode: normal;
  box-shadow: 10px 10px 30px rgba(174, 174, 192, 0.4), -10px -10px 30px #fff;
}

.close_icon {
  width: 2rem;
  height: 2rem;
  fill: rgba(255, 0, 0, 0.579);
  position: absolute;
  top: 2rem;
  right: 2rem;
  }
  
#footer {
  border: 1px solid #f9f5f3;
  color: #121212;
  background-color: #f9f5f3;
}

#footer-text {
  margin: 20px;
  font-size: 20px;
}
